{% extends 'base.html' %}
{% block title %}Новая оплата{% endblock %}
{% block content %}
    <script>
        function toggle(source) {
            const checkboxes = document.getElementsByName('debitors');
            let i = 0, n = checkboxes.length;
            for (; i < n; i++) {
                checkboxes[i].checked = source.checked;
            }
        }
    </script>
    <h1>Новая оплата</h1>
    <form method="POST">{% csrf_token %}
        <div class="form-group row">
            <label class="form-label" for="{{ form.title.auto_id }}">{{ form.title.label }}</label>
            {{ form.title }}
        </div>
        <br>
        <div class="form-group row">
            <label class="form-label" for="{{ form.value.auto_id }}">{{ form.value.label }}</label>
            {{ form.value }}
        </div>
        <br>
        <div class="form-group row">
            <label class="form-label" for="{{ form.dt_created.auto_id }}">{{ form.dt_created.label }}</label>
            {{ form.dt_created }}
        </div>
        <br>
        <div class="form-group row">
            <div class="col">
                <label class="form-check-label" for="{{ form.payer.auto_id }}">{{ form.payer.label }}</label>
                {% for payer in form.payer %}
                    <div class="form-check">
                        {{ payer }}
                    </div>
                {% endfor %}
            </div>
            <div class="col">
                <label>{{ form.debitors.label }}
                    <br>
                    <div class="form-check">
                        <label class="form-check-label" for="check_all_debitors">
                            <input class="form-check-input" type="checkbox" onClick="toggle(this)"
                                   id="check_all_debitors">Выбрать всех</label>
                    </div>
                    {% for deb in form.debitors %}
                        <div class="form-check">
                            {{ deb }}
                        </div>
                    {% endfor %}
                </label>
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-outline-success">Добавить</button>
        <a href="{% url 'travel_detail' travel_id %}" class="btn btn-outline-danger">Отмена</a>
    </form>
{% endblock %}