{% extends 'base.html' %}
{% block title %}Новости{% endblock %}
{% block content %}
    {% for record in posts %}
        <div class="card text-dark bg-light">
            <div class="card-body">
                <h5 class="card-title"><a href="{% url 'post_detail' pk=record.pk %}">{{ record.title }}</a></h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ record.dt_created }}</h6>
                <p class="card-text">{{ record.short_description }}</p>
                <a href="{% url 'post_detail' pk=record.pk %}">Перейти</a>
            </div>
        </div>
    {% endfor %}

{% endblock %}