{% extends 'base.html' %}
{% load static %}
{% block title %}Ваши путешествия{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <br>
        <h2>Ваши путешествия</h2>
        <br>
        <a class="btn btn-outline-success" href="{% url 'new_travel' %}">Новое путешествие</a>
        <br><br>
        {% for travel in travels %}

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'travel_detail' pk=travel.pk %}">{{ travel.title }}</a></h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ travel.start_date }} - {{ travel.end_date }}</h6>

                </div>
            </div>
        {% endfor %}

    {% else %}
        <br>
        <h1 class="display-1 text-center">Travel Payments</h1>
        <br><br>
        <p class="text-center">Ведите учет расходов в путешествиях. Разделяйте со своими спутниками и узнавайте, кто кому сколько
            должен.</p>
    {% endif %}
{% endblock %}
