{% extends 'base.html' %}
{% block title %}О проекте{% endblock %}
{% block content %}
    <h1>О сервисе Travel Payments</h1>
    <br>
    <p>Сайт-калькулятор для взаиморасчетов в поездках</p>
    <p>Часто бывает нужно вести учет расходов в поездках, правильно распределять их между участниками.
        И данный ресурс берет на себя эту задачу.</p>
    <ul>
        <li>Создайте новое путешествие</li>
        <li>Добавьте людей, которые поедут с вами</li>
        <li>Оплачивая что-либо, добавьте запись об этом на странице путешествия</li>
        <li>Готово!</li>
    </ul>
    <br>
    <p>Теперь у вас есть список оплат, а на перейдя по кнопке Summary можно посмотреть, кто,
        кому и сколько должен в итоге.</p>
{% endblock %}